<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/JohnMarsden24" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/average_jonny/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/john.marsden.90" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/johnmarsden24/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
